<?xml version="1.0"?>
<config>
    <modules>
        <Luemic_GridColor>
            <version>1.0.0</version>
        </Luemic_GridColor>
    </modules>
    <global>
        <models>
            <luemic_gridcolor>
                <class>Luemic_GridColor_Model</class>
            </luemic_gridcolor>
        </models>
        <blocks>
            <luemic_gridcolor>
                <class>Luemic_GridColor_Block</class>
            </luemic_gridcolor>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <luemic_sales_order_grid_color>
                        <type>singleton</type>
                        <class>luemic_gridcolor/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </luemic_sales_order_grid_color>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <layout>
            <updates>
                <luemic_gridcolor>
                    <file>luemic_gridcolor.xml</file>
                </luemic_gridcolor>
            </updates>
        </layout>
    </adminhtml>
</config>